{% extends "main.html" %}
{% block content %}
        <form role="form" class="form-horizontal" action="{{ url_for('addItem') }}" method="post">
            <div class="col-xs-12 form-group">
                <h3>Add Item</h3>
                <label class="control-label col-xs-3">Name:</label>
                <div class="col-xs-9 input-group">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Item Name" />
                </div>

                <label class="control-label col-xs-3">Category:</label>
                <div class="col-xs-9 input-group">                    
                    <select class="form-control" id="category" name="category">
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <label class="control-label col-xs-3">Description:</label>
                <div class="col-xs-9 input-group">
                    <textarea rows="7" class="form-control" name="description" id="description" placeholder="Item Description"></textarea>
                </div>
                <label class="control-label col-xs-3">Image URL:</label>
                <div class="col-xs-9 input-group">
                    <input type="text" class="form-control" name="imageUrl" id="imageUrl" placeholder="Image URL" />
                </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <br />
                            <div class="col-xs-9 col-xs-offset-3 input-group">
                            {% for message in messages %}
                                <font style="color:Red;">
                                    {{ message }}
                                </font>
                                <br />
                            {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                <br />
                <div class="col-xs-9 col-xs-offset-3 input-group">
                    <button type="submit" class="btn btn-default" name="add" value="add">Add</button>
                    &nbsp;
                    <button type="submit" class="btn btn-default" name="cancel" value="cancel">Cancel</button>
                </div>
            </div>
        </form>
{% endblock %}